// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//color
$blue: #0b7beb;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #f6ed4a;
$green: #38c172;
$teal: #4dc0b5;
$green: #6cb2eb;

.blue {
    color: rgb(9, 167, 230);
}
.indigo {
    color: indigo;
}
.purple {
    color: purple;
}
.pink {
    color: pink;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.yellow {
    color: yellow;
}
.green {
    color: rgb(47, 248, 188);
}
.teal {
    color: teal;
}
.green {
    color: green;
}
